# Git and Github
/.github
README.md

# VScode
/.vscode 

# Proxies
/nginx
/traefik
/haproxy

# Compose
Dockerfile
docker-compose.yaml

# Make
Makefile

# Postman
/postman

# Fresh
runner.conf

# Testing
.env
/tests
/postman
coverage.out
endpoints_test.sh

# Temporary
/tmp
